{% extends 'base.html' %}

{% block title %}{{ userProfile.user.username }}{% endblock %}

{% block body_block %}

    <div class="panel-heading">
        {% if userProfile.rank == 'LR' %}
            <h2 class="panel-title low-rank">{{ userProfile.user.username }}</h2>
        {% else %}
            <h2 class="panel-title">{{ userProfile.user.username }}</h2>
        {% endif %}
    </div>
    <div class="panel-body">
        {{ userProfile.description }}
        {{ userProfile.rank }}
    </div>

{% endblock %}
