{% extends 'base.html' %}

{% block title %}Roster{% endblock %}

{% block body_block %}

    <div class="panel-heading">
        <h2 class="panel-title">Guild Members</h2>
    </div>
    <div class="panel-body">
        {% if members %}
            <ul class="list-group">
                {% for member in members %}
                    {% if member.rank == 'hr3' %}
                    <li class="list-group-item"><a href="{% url 'profile' member.user.id %}"><font color="red">{{ member.user }}</font></a></li><br />
                    {% else %}
                        <li class="list-group-item"><a href="{% url 'profile' member.user.id %}">{{ member.user }}</a></li><br />
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
